<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common :: head('영어단어 - 게시판')}">
<body>
	<header th:replace="~{fragments/common :: header}"></header>
	<nav th:replace="~{fragments/common :: nav('board_list')}"></nav>

	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="main">

		<div class="container">
			<div class="pt-5 pb-2 mb-4">
				<div class="h2 text-center">자유 게시판</div>
			</div>

			<form class="row g-3 mb-4" th:action="@{/board/list}" method="GET">
				<div class="col-11">
					<label for="boardSearchText" class="visually-hidden">Password</label> <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
				</div>
				<div class="col-1">
					<button type="submit" class="btn btn-outline-warning mb-3">검색</button>
				</div>
			</form>

			<div>
				<table class="table table-striped">
					<thead>
						<tr class="row">
							<th class="col-1 text-center">번호</th>
							<th class="col-8">제목</th>
							<th class="col-1 text-center">작성자</th>
							<th class="col-1 text-center">작성일</th>
							<th class="col-1 text-center">조회수</th>
						</tr>
					</thead>
					<tbody>
						<tr class="row" th:each="board : ${boards}">
							<th class="col-1 text-center" th:text="${board.id}">1</th>
							<td class="col-8"><a th:href="@{/board/list/{id}(id = ${board.id})}" th:text="${board.title}">Mark</a></td>
							<td class="col-1 text-center" th:text=${board.user.nickname}>Otto</td>
							<td class="col-1 text-center" th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd')}">@mdo</td>
							<td class="col-1 text-center" th:text="${board.visit}">0</td>
						</tr>
					</tbody>
				</table>

				<div class="text-end">
					<a class="btn btn-warning" th:href="@{/board/write}">글 쓰기</a>
				</div>

				<th:block th:if="${boards.totalElements != 0}">
					<div aria-label="Page navigation example" class="my-4">
						<ul class="pagination justify-content-center">
							<li class="page-item" th:classappend="${boards.pageable.pageNumber + 1 == 1} ? 'disabled' : ''"><a
								th:href="@{/board/list(page=${boards.pageable.pageNumber - 1}, searchText=${param.searchText})}" class="page-link">&lsaquo;</a></li>
							<li class="page-item" th:each="pageNum : ${#numbers.sequence(startPage, endPage)}" th:classappend="${pageNum == boards.pageable.pageNumber + 1} ? 'disabled' : ''"><a
								th:href="@{/board/list(page=${pageNum - 1}, searchText=${param.searchText})}" class="page-link" th:text="${pageNum}">1</a></li>
							<li class="page-item" th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled' : ''"><a
								th:href="@{/board/list(page=${boards.pageable.pageNumber + 1}, searchText=${param.searchText})}" class="page-link">&rsaquo;</a></li>
						</ul>
					</div>
				</th:block>
			</div>
		</div>

	</main>

	<!-- Add Modal -->
	<div th:replace="~{fragments/common :: wordAddModal}">
		<!-- /fragments/common :: wordAddModal -->
	</div>

	<!-- Modify Delete Modal -->
	<div th:replace="~{fragments/common :: wordModifyDeleteModal}">
		<!-- /fragments/common :: wordAddModal -->
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

	<!-- Custom JavaScript for this template -->
</body>
</html>