<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common :: head('영어단어 - 글 수정/삭제')}">
<body>
	<header th:replace="~{fragments/common :: header}"></header>
	<nav th:replace="~{fragments/common :: nav('board_write')}"></nav>

	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="main">

		<div class="container">
			<div class="pt-5 pb-2 mb-4">
				<div class="h2 text-center">게시판 글 수정/삭제</div>
			</div>

			<div class="mb-3">
				<input type="hidden" id="id" th:value=${board.id} /> <label for="title" class="form-label">제목</label> <input type="text" class="form-control" id="title" th:value=${board.title}>
			</div>
			<div class="mb-3">
				<label for="content" class="form-label">내용</label>
				<textarea class="form-control" id="content" rows="10" th:text=${board.content}></textarea>
			</div>
			<div class="text-end">
				<button class="btn btn-warning" th:onclick="boardModify()">수정</button>
				<button class="btn btn-danger" th:onclick="boardDelete()">삭제</button>
				<a href="javascript:window.history.back();" class="btn btn-secondary">돌아가기</a>
			</div>
		</div>
	</main>

	<!-- Add Modal -->
	<div th:replace="~{fragments/common :: wordAddModal}">
		<!-- /fragments/common :: wordAddModal -->
	</div>

	<!-- Modify Delete Modal -->
	<div th:replace="~{fragments/common :: wordModifyDeleteModal}">
		<!-- /fragments/common :: wordAddModal -->
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

	<script th:src="@{/js/board.js}"></script>
</body>
</html>